.booking-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
  }